* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#canvas {
  background: #000;
}

#playbtn {
  padding: 5px;
  border: #000 1px solid;
  width: fit-content;
  float: right;
}

#pausebtn {
  padding: 5px;
  border: #000 1px solid;
  width: fit-content;
  float: left;
}

#pausebtn:hover,
#playbtn:hover {

  background: #545454;
  color: #fff;
  cursor: pointer;
}

#score {
  float: left;
  padding: 5px;
}

#highscore {
  float: right;
}

@media (max-width: 426px) {
  #canvas {
    width: 415px;
  }

  .wrapper {
    width: 415px;
  }
}

@media (max-width: 376px) {
  #canvas {
    width: 365px;
  }

  .wrapper {
    width: 365px;
  }
}

@media (max-width: 321px) {
  #canvas {
    width: 310px;
  }

  .wrapper {
    width: 310px;
  }
}